{% extends 'base.html.twig' %}
{% block title %} {{ 'label.about'|trans }}{% endblock %}
{% block body %}
    <div class="jumbotron">
        <br><br>
        <p class="lead" style="margin-left: 100px">EPI mgr UJ - semestr letni 2019 <br> Przedmiot: Zawaansowane Techniki
            Programowania 2 <br> Prowadzący: mgr. Tomasz Chojna <br> Autor: Aneta Satława</p>
        <hr class="my-4">
        <p class="lead" style="margin-left: 100px">Strona powstała w ramach projektu zaliczeniowego na przedmiocie ZTP2
            w ramach studiów magisterskich epi.<br>
            Przeds tawia ona prosty katalog bajek i opowieści. Kod projektu jest dostępny na
            https://github.com/anetaPHP/gazeta3.git </p>
        <br>
        <hr>
        <p class="lead" style="margin-left: 100px">
            <a class="btn btn-primary btn-lg" href="{{ path('app_stronastartowa') }}"
               role="button">{{ 'label.homepage'|trans }} </a>
        </p>
    </div>

{% endblock %}
{% block body1 %}
{% endblock %}